<div class="container mt-5">
    <h2>Edit Category</h2>
    <!-- The data is {{category | json}} -->
    <form #categoryForm = "ngForm" (ngSubmit)="submited()">
      <div class="mb-3">
        <label for="categoryId" [class.is-invalid] = "categoryForm.invalid" class="form-label">Category Id</label>
        <input type="text" class="form-control" id="categoryId" name="categoryId" placeholder="Enter Category Id" [(ngModel)] = 'category.id' ngModel readonly>
      </div>
      <div class="mb-3">
        <label for="title" class="form-label is-invalid">Title</label>
        <input type="text" [class.is-invalid] = "categoryForm.invalid && categoryForm.touched" class="form-control" id="title" name="title" placeholder="Enter Title" [(ngModel)] = 'category.title' ngModel required>
        @if(categoryForm.invalid && categoryForm.touched){
          <small>This field is mandatory</small>
        }
      </div>
      <div class="mb-3">
        <label for="description" [class.is-invalid] = "categoryForm.invalid" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter Description" [(ngModel)] = 'category.description' ngModel></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="categoryForm.invalid">Update</button>
    </form>
  </div>
